.selectorContainer {
  padding: 1rem;
}

.selectWrapper {
  margin-top: 1rem;
}

.message {
  text-align: center;
  padding: 1rem;
  color: var(--text-secondary);
  margin-top: 1rem;
}

.error {
  color: var(--error);
  background-color: var(--error-light);
  padding: 1rem;
  text-align: center;
  border-radius: 4px;
  margin-top: 1rem;
}
